body {
  font-family: "Montserrat", serif;
  text-align: center;
}
#user-changes,
#tv-search {
  padding: 20px;
  border: 2px solid black;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
#episode-name,
#tv-show-name {
  font-family: "Raleway", serif;
}
#tv-show-section,
#episode-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 20px;
}

.episode-card {
  margin: 0 auto;
  padding-bottom: 20px;
}
.tv-show-card,
.episode-card {
  flex: 1 1 400px;
  max-width: 700px;
  box-sizing: border-box;
  background: rgba(145, 138, 138, 0.432);
}

#tv-show-name:hover {
  text-decoration: underline;
  color: purple;
  cursor: pointer;
}
#return-to-tv-show {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: rgb(37, 35, 35);
  display: none;
}
